@model NoteVerse.Models.TodoNote
@{
    ViewBag.Title = "Create Todo";
}

<h2>Create a To-Do note</h2> <br />

@using (Html.BeginForm("CreateTodo", "Notes")) {
    <div class="container">
        <div class="card col-3 text-center">
            <div class="card-title">
                <h4>Title:</h4>
                @Html.TextBoxFor(m => m.title, new { @class = "form-control"})
            </div>
            <div class="card-body tasks">
                <h4>Tasks:</h4>
                <button type="button" id="addTaskBtn" class="btn btn-primary"> Add task </button> 
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

@section scripts {
    <script>
        $(function () {
            var counter = 0;
            $('#addTaskBtn').click(function () {
                var taskHtml = `<div><input type="text" name = "tasks[${counter}]"/></div>`;
                $('.tasks').append(taskHtml);
                counter++;
            });
        });
    </script>
}

